* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-blend-mode: overlay;
    background-image: url('logo.jpg');
    background-repeat: repeat;
    background-size: contain; */
    background: lightblue;
}

img {
    width: 8vw;
    border-radius: 10px;
    margin-top: 5%;
}

p {
    text-align: center;
}

#pagewrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 15px auto;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px darkblue solid;
    border-radius: 12px;
    background: transparent;
    cursor: pointer;
}

.grid {
    display: flex;
}

header {
    position: fixed;
    top: 0px;
    height: 50px;
    min-height: 55px;
    padding: 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, lightblue, white);
    width: 100%;
}

@media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 12%;
        position: relative;
        top: 15px;
    }
}

.logo {
    width: 11vw;
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

@media (max-width: 600px) {
    .logo {
        width: 11vw;
    }
}

.logo>img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 650px) {
    .logo>img {
        margin: 0 auto;
    }
}

nav {
    font-weight: 800;
}

@media (max-width: 650px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    nav li {
        padding-bottom: 5px;
    }
}

.nav-link:hover {
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
}

nav>ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 650px) {
    nav>ul {
        flex-direction: column;
    }
    .company-name {
        font-size: 100px;
    }
    @media (max-width: 600px) {
        .company-name {
            font-size: 15px;
        }
    }
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    /* height: 200px; */
    margin-top: 10%;
}

@media (min-width: 1024px) {
    #hero {
        position: relative;
        top: 15px;
    }
}

#hero>h2 {
    margin-bottom: 2%;
    word-wrap: break-word;
}

#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

#hero input[type='submit']:hover {
    background-color: lightblue;
    transition: background-color 2s;
}

@media (max-width: 650px) {
    #hero {
        margin-top: 120px;
    }
}

#why-you-need-our-footwears {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-left: 20%;
    /* align-items: center; */
    /* align-items: center; */
}

#why-you-need-our-footwears .icon {
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 125px; */
    /* width: 20vw; */
    color: darkorange;
}

.grid {
    flex-basis: 2em;
}

@media (max-width: 550px) {
    #why-you-need-our-footwears .icon {
        display: none;
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 550px) {
    #why-you-need-our-footwears .desc {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}

@media (max-width: 650px) {
    #why-you-need-our-footwears {
        margin-top: 0;
    }
}

#overview-of-our-products {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

#overview-of-our-products>iframe {
    max-width: 560px;
    width: 100%;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.product>.levels {
    background-color: orange;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product>h2 {
    margin-top: 15px;
}

.product>ol {
    margin: 15px 0;
}

.product>ol>li {
    padding: 5px 0;
}

.product>button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}

.product>button:hover {
    background-color: blue;
    transition: background-color 1s;
}

@media (max-width: 800px) {
    #pricing {
        flex-direction: column;
    }
    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

footer {
    margin-top: 30px;
    background-color: orange;
    padding: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

footer>ul>li {
    padding: 0 10px;
    display: inline;
    /* flex-direction: row;
    justify-content: center; */
}

footer ul li a {
    display: inline-block;
    margin-left: 20%;
}

footer ul li a:hover {
    background-color: lightblue;
    padding: 3px;
    border-radius: 10px;
}

footer>span {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.9em;
    color: #444;
}